*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  box-sizing: border-box; }

body {
  font-family: Sans-Serif;
  background: #000;
  font-size: 100%; }

h1 {
  color: tan;
  text-align: center;
  font-size: 2em;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em; }
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 1.6em; } }
  h1::before, h1::after {
    content: '';
    background-color: tan;
    width: 20px;
    height: 3px;
    display: block;
    margin-right: 10px; }
    @media screen and (min-width: 480px) {
      h1::before, h1::after {
        width: 30px; } }
  h1::after {
    margin-left: 10px; }

.container {
  width: 95%;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media screen and (min-width: 1200px) {
    .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 98%; } }

.flexDemo-item {
  display: flex;
  flex-wrap: wrap;
  color: #eee;
  width: 100%;
  max-width: 634px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px; }
  @media screen and (min-width: 780px) {
    .flexDemo-item {
      height: 362px; } }

.flex__menu {
  width: 100%;
  background-color: #2d2d2d;
  padding-bottom: 20px; }
  @media screen and (min-width: 780px) {
    .flex__menu {
      width: 37%;
      height: 362px; } }
  .flex__menu--titulo {
    padding: 5px;
    color: #FF7262;
    margin-top: 10px;
    font-size: .8em;
    margin-bottom: 30px;
    margin-left: 15px;
    text-align: center; }
    @media screen and (min-width: 780px) {
      .flex__menu--titulo {
        margin-bottom: 50px;
        font-size: 1em; } }
  .flex__menu--item {
    width: 155px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: right;
    font-size: 1.2em; }
    @media screen and (min-width: 780px) {
      .flex__menu--item {
        width: 165px;
        font-size: 1.3em;
        margin-top: 20px; } }
    .flex__menu--item input {
      padding-top: 10px; }

.flex__vista {
  width: 100%;
  height: 250px;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center; }
  @media screen and (min-width: 780px) {
    .flex__vista {
      width: 63%;
      height: 362px; } }
  .flex__vista-box {
    width: 35px;
    height: 35px;
    border: 1px solid steelblue;
    background-color: #7c2ce2;
    text-align: center;
    padding-top: 8px;
    color: #fff; }
    @media screen and (min-width: 480px) {
      .flex__vista-box {
        width: 60px;
        height: 60px;
        padding-top: 17px;
        font-size: 1.6em; } }
